body {
    height: 100vh;
    align-items: center;
    background: #323641;
    color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -10%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  padding: 0.5rem 0 5rem;
  font-size: 1.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.collumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 20px;
}

.graphic {
    width: 50px;
    height: 300px;
    position: relative;
}

.block {
    width: 100%;
    height: 30px;
    background-color: #FCD63F;
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
}

.block:hover {
    /*height: 270px;*/
    transform: scaleY(9);
    
}

#linear1 {
    /*transition: all 2s linear;*/
    animation: move-up 2s linear infinite alternate;
}

/* .animation {
    height: auto;
}*/

@keyframes move-up {
    0% {
        /*bottom: 0px;*/
        transform: translateY(0);
    }
    50% {
        /*bottom: 125px;*/
        transform: translateY(-125px);
    }
    100% {
        /*bottom: 250px;*/
        transform: translateY(-250px);
    }
}

#linear2 {
    transition: all 5s ease;
}

a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 1000ms;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
html, body, .container {
    height: 100%;
}

.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}
#vh {
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 25px;
    width: 200px;
    height: 200px;
    background: white;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
